body{background-color: white; font-size: 18px; color: black; font-family:Dejar; Arial; sans-serif;}

#h {font-size:14px; color:red;display: inline-block;font-family: "Arbutus Lab"; Arial; sans-serif; position:absolute;left:1300px}

#box1 {background-color: white; position: relative;float: left; height:55px; width:72px;}

#box2 {position:absolute; top: 120px; left:10px; width: 100%;height: auto;}

#box3 {color: white; font-size: 20px; position:absolute; top: 570px; left: 200px; height:100px; width:1400px;}

#box4{position: absolute;top:1200px;left: 50px; width:800;text-align: center;}

#logo1{float: left; width: auto; height: auto;}

#logo2{float: left; width: 50%;height: auto;}

#logo3 {float: left; width: 50%;height: auto;}

#box5{position: absolute;top:1200px;left:900px; width:800;text-align: center;}

#box6{color:lightblue;position: absolute;top:1900px; text-align: center;}

#box7{position: absolute;top:2810px;text-align: center;}

#dis {position: absolute; top:2700px;left: 680px; width: 25%;height: auto;}

#f {position: relative; top:3000px; left: 750px;font-size:14px; color:red;font-family: "Arbutus Lab"; Arial; sans-serif;}

#boxf {clear: both;position: absolute;top:3080px;left:800px;background-color: white;}

.bigger {font-size: 25px}
