body {color:white; background-color: white}

#wraper {width:1600px; margin:0 auto; background-color: black}

#header {height: 80px; text-align: center;background-color: red; padding: 5px}

#leftside {height: 670px; background-color: green; padding: 5px}

#footer {height: 90px ;background-color: blue; padding: 5px}
