body {color:black; background-color: green;}

#wraper {width:700px; margin:0 auto; background-color: white}

#header {height: 120px; text-align: center;background-color: red;}

#leftside {height: 50px; width:90px; background-color: pink; padding: 5px; float: left;}

#rside {height: 50px; width:590px; background-color: orange; padding: 5px; float: left;}

#content {height: 250px; background-color: blue; padding: 5px; clear: both;}

#footer {height: 80px ;background-color: yellow;padding: 5px; float: none;}
