body {color:black; background-color: green;}

#wraper {width:1000px; margin:0 auto; background-color: white; font-weight: bold; font-size: 20px}

#header {height: 100px; text-align: center; background-color: red;}

#leftside {float: left; height: 100px; width: 290px; background-color: pink; padding-top: 5px;}

#rside {float: initial; height: 100px; width: auto; background-color: orange; padding-top: 5px;}

#content {float: left; height: 700px; width: 1000px; background-color: blue;}

#footer {height: 80px; width:990px ;background-color: yellow; padding: 5px; clear: both;}
