body {color:black; background-color: green;}

#wraper {width:1000px; margin:0 auto; background-color: white; font-weight: bold; font-size: 20px}

#header {height: 120px; text-align: center; background-color: red;}

#leftside {float: left; height: 100px; width: 250px; background-color: pink; padding: 5px}

#rside {float: inherit; height: 100px; width: auto; background-color: orange;}

#content {clear: both; float: left; height: 550px; width: 1000px; background-color: blue;}

#footer {height: 80px; width:1000px ;background-color: yellow; clear: both;}
