body {background-color: green}

.topleft {position: fixed; top: 15px; left: 280px; height:335px; width:335px; background-color: blue; text}

.mmiddle {position: fixed; top:350px; left: 720px; height:335px; width:335px; background-color: yellow}

.topright {position: fixed; top: 15px; left: 1160px; height:335px; width:335px; background-color: red}
