body {background-color: blue}
.myContainer {margin:8.5% 7.5% 30% 7.5%; border: black 5.5px solid; padding:15px 10px 1px 1px }
#test1 {font-family: arial, sans-serif; color: red; font-weight:lighter;}
.dashline {margin: 15px 15px 25px 15px; border: green 3px dashed; padding:5px 5px 5px 5px}
#dashline2 {margin: 15px 15px 1px 1px; border:tan 3px dashed; padding: 15px;}
