body {background-color: blue}
.myContainer {margin:8.5% 7.5% 30% 7.5%; border: black 5.5px solid; padding:15px 10px 1px 1px }
#test1 {font-family: corbel light, sans-serif; color: red; font-weight:lighter; line-height: 0.1; font-size: 24}
.dashline {margin: 10px 15px 25px 15px; border: green 2px dashed; padding:3px 3px 3px 7px;}
#dashline2 { width: 450px; margin: 15px 15px 1px 1px; border:tan 2px dashed; padding: 25px;}
